.grey {
  background-color: #58595b;
}

.black {
  background-color: #222;
}

.yellow {
  background-color: #ffc709;
}

.green {
  color: green;
}

.white-color {
  color: white;
}

.asset-subtitle {
  color: grey;
  font-size: 13px;
}
